{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<section class="userup_section">

<div class="container userup_container">
  <div class="user signInBox">
    <div class="imgBox"><img src="{{ asset('build/images/voiture-left.jpg') }}" /></div>
    <div class="formBox">
        {{ include('security/login.html.twig') }}
    </div>
    
  </div>
  <div class="user signupBox">
      <div class="formBox">
        {{ include('security/registration.html.twig') }}  
      </div>
      <div class="imgBox"><img src="{{ asset('build/images/voiture-right.jpg') }}" /></div>
  </div>
    
</div>
</section>

<script text="text/javascript">
    function toggleForm() {
        var container = document.querySelector(".userup_container");
        container.classList.toggle("active");
    }
</script>
{% endblock %}
