{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la page d'accueil !{% endblock %}

{% block body %}
<div class="mainContent">
    <div class="banner-zone">
        <a class="d-block background-center-zone" href="/home"></a>
    </div>
    <div class="container">
        <div class="intro">
            <p class="text-center">Garage Pascal est un garage auto-moto situé à Versailles dans les Yvelines.</p> <br>
            <ul>
                <li>Nous vous accueillons 6j/7 dans un cadre propre et convivial.</li>
                <li>Réparations réalisées en 24h/48h (dans 80% des cas)</li>
                <li>Expertise photo (Expertise A Distance) en 15 minutes</li>
                <li>Devis gratuit</li>
                <li>Intervention sur tout type de véhicule</li>
            </ul> 
En parallèle, pendant toute la durée des réparations, Garage Pascal vous prête un véhicule !
Votre véhicule vous est restitué intégralement nettoyé après avoir subi un contrôle qualité et sécurité. Les travaux réalisés par Garage Pascal sont garantis 24 mois ainsi que les pièces détachées (garantie d’origine constructeur).
Toutes les marques, gammes et modèles peuvent être pris en charge par nos ateliers.
            
        </div>
        <hr>
        <div class="text-center our-priority-zonenpy-5">
            <h2 class="mb-5 ">Notre priorité : Votre satisfaction</h2>
            <div class="row">

                <div class="col-sm-6 col-md-3">

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none"
                       d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 
                       8 0 1 0 0-16 8 8 0 0 0 0 16zm1-8h4v2h-6V7h2v5z"/></svg>

                    <h3>Prendre le temps</h3>
                    <p>de vous accueillir dans un espace propre et confortable. </p>
                </div>

                <div class="col-sm-6 col-md-3">

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/>
                      <path d="M12 11a5 5 0 0 1 5 5v6H7v-6a5 5 0 0 1 5-5zm-6.712 3.006a6.983 6.983 0 0 0-.28 1.65L5 16v6H2v-4.5a3.5 3.5 0 0 
                      1 3.119-3.48l.17-.014zm13.424 0A3.501 3.501 0 0 1 22 17.5V22h-3v-6c0-.693-.1-1.362-.288-1.994zM5.5 8a2.5 2.5 0 1 1 0 5
                       2.5 2.5 0 0 1 0-5zm13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM12 2a4 4 0 1 1 0 8 4 4 0 0 1 0-8z"/></svg>
                    <h3>Nos équipes</h3>

                    <p>Profitez d'une équipe de professionnels et passionnés à votre service pour tous types de réparation.</p>
                </div>

                <div class="col-sm-6 col-md-3">

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9
                       1v2h6V1h2v2h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2zm11 7H4v11h16V8zm-4.964 2.136l1.414 1.414-4.95
                        4.95-3.536-3.536L9.38 11.55l2.121 2.122 3.536-3.536z"/></svg>

                    <h3>Être disponible</h3>
                    <p>Nous sommes ouvert du mardi au samedi de 09h à 20h et le dimanche de 10h à 18h
                        <br>
                        Si vous avez une question vous pouvez nous contacter en ligne 24h/24.
                    </p>
                </div>

                <div class="col-sm-6 col-md-3">

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 4a8 8 
                      0 0 0-8 8h3a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7C2 6.477 6.477 2 12 2s10 4.477 10 10v7a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-5a2 2 
                      0 0 1 2-2h3a8 8 0 0 0-8-8zM4 14v5h3v-5H4zm13 0v5h3v-5h-3z"/></svg>
                      
                    <h3>Transparence</h3> 
                    <p>Nous vous expliquons les devis point par point pour plus de clarté, aucune réparation de plus de 150€ ne sera entrepris sans votre consentement.</p>     
                </div>

            </div>
        </div>
        <hr>
</div>
{% endblock %}
