

<!DOCTYPE html>
<html lang="fr">
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- -->
      <meta http-equiv="Content-Type" content="text/html/php/twig" />
      <meta name="author" content="Maxime Pascal" />
    </head>

    <body>
      <h1 style="text-align: center">
        <strong>CONDITIONS GÉNÉRALES DE VENTE</strong>
      </h1>
      <h2>Préambule</h2>

      <p>
        Les conditions générales de vente suivantes régissent les relations
        entre « Garage Pascal » et les utilisateurs du site « Le tiroir
        du terroir ». Le site « Garage Pascal » est la propriété pleine
        et entière de la société « Garage Pascal », ainsi que tous les
        droits y afférents. Société immatriculée au registre du commerce et des
        entreprises de Trappes, sous le N° de SIRET : 000000000000000, dont le
        siège social se situe à : 2 Rue Eugène Pottier, 78190 Trappes.
      </p>

      <h2>Produits et Services</h2>

      <p>
        Pour chaque produit du catalogue, sont indiqués la dénomination, le
        descriptif, le conditionnement et la quantité. Chaque produit est
        généralement illustré par une photo ; cependant, les photos représentant
        les produits ne sont pas contractuelles et ne peuvent en aucun cas
        engager la responsabilité de « Garage Pascal » envers l’acheteur.
        La disponibilité des produits présentés dans le catalogue est indiquée.
        Si un article devenait indisponible durant la commande de l’internaute,
        ce dernier sera prévenu dans les meilleurs délais par e-mail de
        l’indisponibilité du produit.
      </p>

      <h2>Commandes</h2>

      <p>
        Lors de la validation de la commande, l’internaute reconnaît avoir pris
        connaissance des conditions Générales de Vente et s’engage à les
        accepter. L’internaute recevra un mail de confirmation de commande après
        validation de sa commande qui indiquera la désignation des produits, la
        quantité, le prix et les modalités de livraison. Avant la confirmation
        de la commande, « Garage Pascal » se réserve le droit de vérifier
        l’identité, l’adresse et les coordonnées bancaires de l’internaute. En
        cas de litige relatif au paiement « Garage Pascal » se réserve le
        droit d’annuler la commande.
      </p>

      <h2>Les prix</h2>

      <p>
        Les prix de vente des produits sont indiqués en euros toutes taxes
        comprises et hors frais de livraison. Le montant des frais de livraison
        sera indiqué sur le bon de commande avant validation de celle-ci. Le
        prix indiqué lors de la commande est garantie à l’acheteur. « Le tiroir
        du terroir » se réserve le droit de modifier les prix mais le prix
        indiqué lors de la commande de l’acheteur prévaut lors de la facturation
        sur le prix modifié.
      </p>

      <h2>Cas particulier des pays hors communauté européenne :</h2>

      <p>
        Pour toute commande vers un autre pays que la France métropolitaine le
        client est considéré comme l’importateur des produits. Pour toutes les
        livraisons hors de l’union européenne et DOM-TOM, le prix facturé sera
        calculé hors-taxe. Dès lors, les droits de douane ou taxes locales
        seront à la charge exclusive du client. Nous lui conseillons de se
        renseigner auprès des autorités locales afin de connaître les taxes et
        frais de douane pouvant être exigibles par l’état dont l’importateur
        dépend. Ces droits et autres sommes ne sont dans aucun cas de la
        responsabilité de « Garage Pascal ». Certains produits peuvent
        également faire l’objet de limitations d’importation dans certains pays
        ; nous vous conseillons de vous en informer auprès des autorités
        locales.
      </p>

      <h2>Le Paiement</h2>

      <p>
        Le paiement de la commande passée à « Garage Pascal » se fait par
        paiement comptant le jour de la commande par carte bancaire, par chèque
        ou par règlement Paypal. Le règlement par carte bancaire se fait par un
        système sécurisé mis en place avec Paypal PAIEMENT SECURISE (Banque
        Populaire). Pour tout règlement par chèque, celui-ci doit provenir d’une
        banque domiciliée en France et l’expédition de la commande se fera à
        réception et vérification du chèque par « Garage Pascal ».
      </p>

      <h2>Livraison</h2>

      <p>
        Pour les livraisons en France Métropolitaine, les produits commandés
        seront livrés à l’adresse de livraison ou au point relais indiqué par
        l’acheteur et ce par Colissimo, Mondial Relay, Chronopost et autre
        transporteur. Sauf information contraire au client, les produits seront
        expédiés le lendemain de la validation de la commande sur le site. Toute
        commande passée entre le vendredi 12h00 et le dimanche soir sera
        expédiée le lundi matin. « Garage Pascal » estime le délai de
        livraison entre 48 et 72h pour les livraisons en colissimo ou 3 à 5
        jours pour les livraisons en point relais. Toutefois, le délai moyen de
        livraison en France Métropolitaine est de 5 jours ouvrables et « Le
        tiroir du terroir » ne sera pas responsable d’éventuels retards dans le
        cas de dysfonctionnement des services postaux, des transporteurs
        routiers ou d’incidents climatiques. Pour les livraisons dans l’Union
        Européenne et la Suisse, le délai est généralement de 7 ouvrés. Pour les
        autres pays et les DOM/TOM, les délais seront indiqués selon la distance
        et le moyen d’acheminement. Les expéditions vers l'étranger Hors UE se
        font hors taxe, des taxes peuvent être réclamées à l'arrivée du colis
        pour le retrait de ce dernier. Ces frais ne pourront pas être remboursés
        par Garage Pascal.
      </p>

      <h2>Rétractation et Réclamation</h2>

      <p>
        L’internaute peut disposer de son droit de rétractation dans un délai de
        14 jours à compter de la réception ou du retrait du colis sans avoir à
        justifier de motifs ni à devoir des pénalités. Dans le cas énoncé, « Le
        tiroir du terroir » propose à l’internaute de contacter le service
        clientèle pour l’en informer. Le retour des produits se fera à la charge
        de l’internaute par la poste dans leur état d’origine et complets
        accompagnés d’une copie de la facture d’achat à l’adresse suivante : Le
        tiroir du terroir – 2 Rue Eugène Pottier, 78190 Trappes. Le tiroir du
        terroir procédera au remboursement dans un délai maximal de 30 jours. Ne
        seront pas acceptés, les retours de produits ayant été ouverts ou dont
        l’emballage aurait été détérioré.
      </p>

      <p>
        En cas de colis perdu ( l’internaute n’a jamais reçu le colis, ce
        dernier a été égaré par la poste ou le transporteur), « Le tiroir du
        terroir » procédera à un nouvel envoi à sa charge. L’internaute
        attestera alors sur l’honneur de ne jamais avoir reçu le colis et de
        refuser le 1er envoi s’il venait à le recevoir finalement. Cette
        attestation permettra à « Garage Pascal » de mener dès lors toute
        action qu’il jugera utile. Pour tout colis défectueux ou abîmé, « Le
        tiroir du terroir » demande à l’internaute de le contacter au service
        clientèle. Lors d’un échange entre les deux parties, après les
        vérifications utiles, « Garage Pascal » décidera ou non de
        procéder au remboursement. Les retours de colis ne seront pas acceptés
        par « Garage Pascal » au-delà d’un délai d’ un mois suivant la
        date de la commande. « Garage Pascal » invite l’internaute à
        contacter son service clientèle pour toute insatisfaction liée au
        produit. Selon les motifs exposés, « Garage Pascal », proposera
        ou non le remboursement des produits hors frais de port. Dans le cas de
        non retrait du colis par le client au point de livraison, le colis sera
        normalement retourné à Garage Pascal par le transporteur. Si tel
        est le cas, et si la marchandise est intacte Garage Pascal
        remboursera la marchandise au client une fois réceptionné le colis en
        retour. Les frais de port resteront à la charge du client.
      </p>

      <p>
        La responsabilité civile ou pénale de « Garage Pascal » n’est pas
        engagée pour tout usage impropre des produits commercialisés ou pour des
        dommages dont la responsabilité incomberait au fournisseur du produit.
        Toutes les publications sur le site concernant les produits ou autre
        peuvent être retirées ou modifiées par « Garage Pascal ».
      </p>

      <h2>Loi et litige</h2>

      <p>
        Les présentes Conditions Générales de Vente sont soumises à la loi
        Française et notamment aux articles L.121-16 à L. 121-20 du Code de la
        Consommation. En cas de litige, l’internaute s’adressera au vendeur en
        priorité afin de convenir d’une solution amiable. Si tel n’était pas le
        cas, les litiges seront soumis au tribunal de la juridiction du siège
        social de « Garage Pascal » Propriété intellectuelle Tous les
        éléments (visuels, sonores, textuels…etc.), présents sur le site de « Le
        tiroir du terroir », restent et demeurent l’entière propriété de « Le
        tiroir du terroir ». Aucune reproduction, exploitation, diffusion ou
        utilisation ne peut être faite sans l’autorisation expresse de « Le
        tiroir du terroir ».
      </p>

      <h2>Confidentialité des données</h2>

      <p>
        Selon la loi informatique et libertés du 6 janvier 1978, l’internaute
        dispose d’un droit d’accès et de rectification des données le concernant
        et conservées par le vendeur. Dans le cadre du fonctionnement du site «
        Garage Pascal », « Garage Pascal » peut être amené à
        transmettre des données non personnelles à un tiers autorisé de type «
        google, shopzilla, … etc., par l’utilisation de cookies tiers ayant pour
        but de collecter et d’utiliser les données de navigation des
        utilisateurs du site « Garage Pascal ». cette utilisation est
        faite dans le respect des dispositions émises par la loi Informatique et
        Liberté du 6 janvier 1978, modifiée par celle du 06 Août 2004, notamment
        dans le cadre de la Charte du respect de la vie privée.
      </p>

      <footer style="font-size: smaller">
        Garage Pascal est enregistré auprès de la CNIL sous le numéro de
        déclaration : 1620927 v 5 <br />
        CGV mises à jour le 2 mai 2021
      </footer>
    </body>
  </html>
  © 2021 GitHub, Inc. Terms Privacy Security Status Docs Contact GitHub Pricing
  API Training Blog About Loading complete
</html>
