<header class="navigation">
  <div class="header-top pb-3 pb-md-0">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4 col-12">
          <div class="header-top-socials text-center text-lg-left text-md-left">
            <a href="https://www.facebook.com/garagepascal" target="_blank"
              ><i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/garagepascal" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com/garagepascal/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        
        <div class="col-md-8 col-12">
          <div class="header-top-info">
            <a href="tel:06-13-89-25-38"
              >Appelez-nous au : <span>06.13.89.25.38</span></a
            >
            <a href="mailto:garage.pascal@gmail.com">
              <i class="fa fa-envelope mr-2"></i> 
              <span>garage.pascal@gmail.com</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
