<!DOCTYPE html>
<html lang="fr">
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- -->
      <meta http-equiv="Content-Type" content="text/html/php/twig" />
      <meta name="author" content="Maxime Pascal" />
    </head>

<body>
   <h1 style="text-align: center;">MENTIONS LÉGALES</h1> <br>
<p><h2>Société propriétaire du Site :</h2>Garage Pascal</p>


<div class="container">Enseigne : Garage Pascal <br>
    http://garagepascal.fr <br>
    
    adresse : 2 Rue Eugène Pottier, 78190 Trappes <br>
    
    Tél : 06 13 89 24 38 <br>
    
    Gérant Maxime Pascal <br>      mail : garagepascal@gmail.com <br>
    Siret : 88139165000014</div> <br><br>

<h2>Réalisation & Conception</h2>

<div>
    <p>Le site a été réalisé par la société Groupe Soledis, tous droits réservés :
        SARL Groupe Soledis - SAS au capital de 358 000 € - RCS VANNES 498 898 014</p> <br>
    Adresse : Centre Pompidou 56000 Vannes | FRANCE <br>
    Tel : 02 97 546 546 - Fax : 02 97 63 83 35 <br>
    Mail : infos@groupe-soledis.com <br>
    Site : http://www.groupe-soledis.com/
</div> <br>

<h2>Hébergement</h2>
<div>
    <p>L'hébergement du site est réalisé par la société O2 SWITCH.</p>

    SARL O2 SWITCH <br>
    Adresse : 224 BD GUSTAVE FLAUBERT 63000 CLERMONT-FERRAND <br>
    Tel : 04 44 44 60 40 <br>
    Mail : support@o2switch.fr <br>
    Site : https://www.o2switch.fr/

</div>
<br>

<h2>Droits d'auteurs</h2>

<p>En application du Code français de la Propriété Intellectuelle et, plus généralement, des traités et accords internationaux comportant des dispositions relatives à la protection des droits d'auteurs, vous vous interdirez de reproduire pour un usage autre que privé mais aussi de vendre, distribuer, émettre, diffuser, adapter, modifier, publier, communiquer intégralement ou partiellement, sous quelque forme que ce soit, les données, la présentation ou l'organisation du site sans notre autorisation écrite préalable.
</p>

<p>Législation française relative au droit d'accès au fichier informatisé
    Conformément à la loi française N· 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés (CNIL), tout utilisateur ayant déposé sur ce site des informations directement ou indirectement nominatives, peut demander la communication des informations nominatives le concernant en s'adressant à nous et les faire rectifier le cas échéant.
</p>

<h2>Décharge de responsabilité</h2>

<p>Alors que nous avons effectué toutes les démarches pour nous assurer de la fiabilité des informations contenues sur ce site internet, Nous ne pouvons encourir aucune responsabilité du fait d'erreurs, d'omissions, ou pour les résultats qui pourraient être obtenus par l'usage de ces informations.
    Nous ne pouvons être tenu que d'une obligation de moyens concernant les informations qu'il met à disposition des personnes qui accèdent à son site internet.
    Par ailleurs, l'usage de liens hypertextes peut conduire votre consultation de notre site vers d'autres serveurs, serveurs sur lesquels nous n'avons aucun contrôle.
</p>

<h2>Accès au site Internet</h2>

<p>L'accès au Site est possible 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d'un événement hors du contrôle de notre contrôle et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du Site et des matériels afférents.
    L'accès au service se fait à partir d'un micro-ordinateur connecté à un réseau de télécommunication permettant l'accès au Site selon les protocoles de communication utilisés sur le réseau d'Internet.
</p>
<footer style="font-size: smaller;">Dernière mise à Jour : 08/11/2021</footer>
</body>
</html>