{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe{% endblock %}

{% block body %}
<br><br><br><br><br><br>
    <p>
        Un e-email vient d'etre envoyé et contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuilliez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">Réessayez</a>.</p>
{% endblock %}
