@import "~bootstrap/scss/bootstrap";

        // header //
        .header-top {
            background: #222328;
            color: #919194;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
          }
          
          .header-top .header-top-socials {
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            padding: 12px 0px;
          }
          
          .header-top .header-top-socials a {
            color: #919194;
            margin-right: 15px;
            font-size: 16px;
          }
          .logo img {
              // height: 50px;
              width: 250px;
          }
          
          .header-top .header-top-info {
            color: #919194;
            font-size: 16px;
            text-align: right;
          }
          
          .header-top .header-top-info a span {
            color: #fff;
          }
          
          .header-top .header-top-info a {
            margin-left: 35px;
            color: #919194;
          }

          // footer
       